.controls-workarea {
  position: relative;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  width: 100vw;
  height: 100%;

  &::-webkit-scrollbar {
    height: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--accent);
    border-radius: 2px;
  }

  @media (min-width: $screen-tb + 1) {
    scroll-snap-type: none;
    overflow: hidden;
  }

  @media (min-width: $screen-dt + 1) {
    position: static;
    height: auto;
    width: 100%;
    overflow-y: scroll;
    flex-direction: column;
    align-items: center;
    padding: 40px 40px 40px 30px;
  }
}

.controls-workarea__snap-container {
  position: relative;
  display: flex;
  justify-content: center;
  scroll-snap-align: center;
  flex-shrink: 0;
  padding: 10px 20px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;

  @media (min-width: $screen-tb + 1) and (max-width: $screen-dt) {
    &--first {
      width: 40%;
      padding-left: 30px;
    }

    &--second {
      width: 60%;
      justify-content: flex-start;
      padding: 18px 30px 18px 20px;
    }
  }

  @media (min-width: $screen-dt + 1) {
    position: static;
    padding: 0;
    margin-bottom: 30px;
    overflow-y: initial;
    width: auto;

    &--first {
      width: 80%;
    }

    &--second {
      width: 100%;
      padding-left: 60px;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--accent);
    border-radius: 2px;
  }
}

// region Filter controls

.controls-workarea__controls {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  width: 280px;
  margin: 0 auto;
  align-items: center;

  @media (min-width: $screen-dt + 1) {
    grid-gap: 20px;
  }
}

.controls-workarea__matrix-size {
  display: flex;
  align-items: center;

  span {
    margin: 0 5px;
  }
}

.controls-workarea__label {
  margin: 0 auto 0 0;
}

// endregion Filter controls

.controls-workarea__matrix-textarea {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  padding-right: 80px;

  @media (min-width: $screen-tb + 1) and (max-width: $screen-dt) {
    padding: 4px 90px 4px 0;
  }

  @media (min-width: $screen-dt + 1) {
    padding-right: 60px;
  }
}

.controls-workarea__matrix-inputs {
  display: grid;
  padding: 0 40px;
  width: 100%;
  height: 100%;

  @media (min-width: $screen-tb + 1) {
    margin: 0;
  }

  @media (min-width: $screen-dt + 1) {
    width: auto;
    padding: 0;
  }
}

.controls-workarea__buttons {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: grid;
  grid-gap: 10px;

  @media (min-width: $screen-dt + 1) {
    top: 40px;
    bottom: unset;
    grid-gap: 20px;
  }
}
