.controls-workarea {
  position: relative;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  width: 100vw;
  height: 100%;

  &::-webkit-scrollbar {
    height: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--accent);
    border-radius: 2px;
  }
}

.controls-workarea__snap-container {
  position: relative;
  display: flex;
  justify-content: center;
  scroll-snap-align: center;
  flex-shrink: 0;
  padding: 10px 20px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--accent);
    border-radius: 2px;
  }
}

// region Filter controls

.controls-workarea__controls {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  width: 280px;
  margin: 0 auto;
}

.controls-workarea__matrix-size {
  display: flex;
  align-items: center;

  span {
    margin: 0 5px;
  }
}

.controls-workarea__label {
  margin: 0 auto 0 0;
}

// endregion Filter controls

.controls-workarea__matrix-textarea {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  padding-right: 70px;
}

.controls-workarea__matrix-inputs {
  display: grid;
  margin: 0 auto;
  width: 80%;
  height: 100%;
  overflow: scroll;

  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--accent);
    border-radius: 2px;
  }

  &::-webkit-scrollbar-corner {
    display: none;
  }
}

.controls-workarea__buttons {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: grid;
  grid-gap: 10px;
}
