.editor {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 180px 50px;
  height: 100%;

  @media (min-width: $screen-tb + 1) {
    grid-template-rows: 1fr 240px 70px;
  }
}

.editor-tabs {
  transition: background-color 0.2s;
}

.editor-tab {
  height: var(--tab-height);
  font-size: 14px;
  transition: background-color 0.2s;

  @media (min-width: $screen-tb + 1) {
    font-size: 24px !important;
  }

  svg {
    fill: var(--text);
    max-height: 24px;
    transition: fill 0.2s;

    @media (min-width: $screen-tb + 1) {
      max-height: 36px;
    }
  }

  &[aria-selected="true"] svg {
    fill: var(--accent);
  }
}
