.theme-switcher__switcher {
  position: relative;
  display: block;
  width: 60px;
  height: 30px;
  border: 2px solid var(--text);
  border-radius: 15px;
  transition: border-color 0.3s ease-in;
  cursor: pointer;
}

.theme-switcher__toggle {
  position: absolute;
  top: 50%;
  left: 2px;
  transform: translateY(-50%);
  height: 22px;
  width: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--text);
  border-radius: 50%;
  transition: border-color 0.3s ease-in, left 0.3s ease-out;
}

.theme-switcher__icon {
  width: 100%;
  height: 100%;
  content: "";
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 15px;
  background-image: url("../../../public/assets/icon-sun.svg");
}

.theme-switcher__input:checked + .theme-switcher__switcher {
  .theme-switcher__toggle {
    left: 32px;

    .theme-switcher__icon {
      background-size: 6px 12px;
      background-image: url("../../../public/assets/icon-moon.svg");
    }
  }
}

.theme-switcher__input:focus + .theme-switcher__switcher {
  box-shadow: 0 0 0 2px var(--focus-color);
}
