.entry {
  display: grid;

  @media (max-width: $screen-tb) {
    grid-template-rows: min-content 1fr 50px;
    grid-gap: 20px;
    padding-bottom: 20px;
  }

  @media (min-width: $screen-tb + 1) and (max-width: $screen-dt) {
    grid-template-rows: min-content 1fr 64px;
    grid-gap: 30px;
    padding-bottom: 30px;
  }

  @media (min-width: $screen-dt + 1) {
    position: relative;
    grid-template-rows: min-content 1fr 64px;
    grid-gap: 30px;
    padding-bottom: 40px;
  }
}

.entry__logo {
  padding: 0 5%;

  @media (max-width: $screen-tb) {
    margin: 110px auto 0;
  }

  @media (min-width: $screen-tb + 1) {
    margin: 180px auto 0;
  }
}

.entry__text {
  margin: 0 auto;
  padding: 0 20px;

  text-align: center;
  color: var(--secondary-color);

  @media (max-width: $screen-tb) {
    max-width: 240px;
    font-size: 18px;
  }

  @media (min-width: $screen-tb + 1) and (max-width: $screen-dt) {
    max-width: 400px;
    font-size: 24px;
  }

  @media (min-width: $screen-dt + 1) {
    max-width: 750px;
    font-size: 30px;
  }
}

.entry__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $screen-tb) {
    padding: 0 20px;
  }

  @media (min-width: $screen-tb + 1) and (max-width: $screen-dt) {
    padding: 0 30px;
  }

  @media (min-width: $screen-dt + 1) {
    padding: 0 40px;
  }
}
