.btn {
  background-color: transparent;
  border: none;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color, color;
  transition-duration: 0.2s;
  color: var(--text);
  cursor: pointer;
  width: 36px;
  height: 36px;
  outline: none;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;

  @media (min-width: $screen-tb + 1) {
    width: 48px;
    height: 48px;
  }

  &:hover,
  &:focus-visible {
    background-color: var(--bg-layer-up);
  }

  &:active {
    opacity: 0.75;
  }

  svg {
    fill: var(--text);
    width: 16px;
    height: 16px;
    transition: fill 0.2s;

    @media (min-width: $screen-tb + 1) and (max-width: $screen-dt) {
      width: 24px;
      height: 24px;
    }

    @media (min-width: $screen-dt + 1) {
      width: 20px;
      height: 20px;
    }
  }

  &--active {
    svg {
      fill: var(--accent);
      stroke: var(--accent);
      color: var(--accent);
    }
  }

  &--accent {
    width: 36px;
    height: 36px;
    border-radius: 4px;
    background-color: var(--accent);
    outline: none;
    box-shadow: 0 4px 4px var(--shadow-color), 0 4px 10px var(--shadow-color);

    @media (min-width: $screen-tb + 1) and (max-width: $screen-dt) {
      width: 48px;
      height: 48px;
    }

    @media (min-width: $screen-dt + 1) {
      width: 40px;
      height: 40px;
    }

    &:hover {
      background-color: var(--accent);
    }

    &:focus-visible {
      background-color: var(--accent);
      box-shadow: 0 0 0 1px var(--text);
    }

    svg {
      width: 16px;
      height: 16px;
      color: var(--color-light);
      fill: var(--color-light);

      @media (min-width: $screen-tb + 1) and (max-width: $screen-dt) {
        width: 24px;
        height: 24px;
      }

      @media (min-width: $screen-dt + 1) {
        width: 20px;
        height: 20px;
      }
    }
  }
}

.btn__text {
  text-transform: uppercase;
  margin-right: 10px;
}
