.file-button__input {
  &:focus-visible + .file-button__label {
    box-shadow: 0 0 0 2px var(--text);
  }
}

.file-button__label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  background-color: var(--accent);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color, opacity 0.2s;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;

  svg {
    fill: var(--color-light);
    width: 40px;
    height: 30px;
  }

  &:active {
    opacity: 0.75;
  }
}
