.preset-list {
  height: 100%;
  overflow: hidden;
  display: grid;
}

.preset-list__list {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin: 0;
  padding: 10px 20px;
  list-style: none;

  width: 100%;
  height: 100%;
  overflow-x: scroll;

  @media (min-width: $screen-tb + 1) and (max-width: $screen-dt) {
    padding: 10px 30px;
  }

  @media (min-width: $screen-dt + 1) {
    padding: 40px 30px;
    flex-direction: column;

    &::-webkit-scrollbar {
      width: 4px;
    }
  }

  &::-webkit-scrollbar {
    height: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--accent);
    border-radius: 2px;
  }

  &::-webkit-scrollbar-corner {
    display: none;
  }
}

.preset-list__item {
  margin-right: 20px;

  @media (min-width: $screen-dt + 1) {
    margin-right: 0;
    margin-bottom: 30px;
    width: 100%;
    max-width: 500px;
  }
}

.preset-list__item:nth-last-child(2) {
  margin-right: 0;

  @media (min-width: $screen-dt + 1) {
    margin-bottom: 0;
  }
}

.scroll--fix div {
  width: 20px;
  height: 1px;
  opacity: 0;
  z-index: -100;
}
