.logo {
}

.logo__svg {
  :global * {
    fill: var(--text);
    transition: fill 0.2s ease-out;
  }

  :global .accent {
    fill: var(--accent);
    transition: fill 0.2s ease-out;
  }

  @media (max-width: $screen-tb) {
    height: 36px;
  }

  @media (min-width: $screen-tb + 1) {
    height: 60px;
  }
}
