.filter {
  display: grid;
  grid-template-areas: "text null" "slider button";
  grid-template-columns: 1fr 40px;
  grid-template-rows: 20px 30px;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  grid-column-gap: 15px;

  @media (min-width: $screen-tb + 1) {
    grid-template-columns: 1fr 60px;
    grid-template-rows: 30px 40px;
    padding-left: 30px;
  }
}

.filter__text {
  grid-area: text;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &--edited {
    color: var(--accent);
  }
}

.filter__slider {
  grid-area: slider;
}

.filter__btn {
  grid-area: button;

  margin-left: auto;
  width: 30px;
  height: 30px;
  padding: 0;
  align-self: flex-end;
  justify-content: center;
  border-radius: 2px;

  @media (min-width: $screen-tb + 1) {
    width: 40px;
    height: 40px;
  }

  &:hover,
  &:focus-visible {
    background-color: var(--bg-layer-mid);
  }

  svg {
    height: 16px;

    @media (min-width: $screen-tb + 1) and (max-width: $screen-dt) {
      width: 20px;
      height: 20px;
    }
  }
}
