.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;

  @media (max-width: $screen-tb) {
    padding: 10px 20px;
  }

  @media (min-width: $screen-tb + 1) and (max-width: $screen-dt) {
    padding: 15px 30px;
  }

  @media (min-width: $screen-dt + 1) {
    padding: 15px 40px;
  }
}
