.main-canvas {
  width: 100%;
  height: 100%;
  object-fit: contain;
  max-height: calc(100vh - 400px); // 60px header + 20*2 paddings + 180px controls + 50px tabs + 70px chrome url bar (android)

  @media (min-width: $screen-tb + 1) and (max-width: $screen-dt) {
    max-height: calc(100vh - 520px); // 100px header + 20*2 paddings + 240px controls + 70px tabs + 70px chrome url bar (android)
  }

  @media (min-width: $screen-dt + 1) {
    max-height: calc(100vh - 200px); // 100px header + 20*2 paddings + 60px (just for space)
  }

  image-rendering: optimizeSpeed; /* Older versions of FF */
  image-rendering: -moz-crisp-edges; /* FF 6.0+ */
  image-rendering: -webkit-optimize-contrast; /* Safari */
  image-rendering: -o-crisp-edges; /* OS X & Windows Opera (12.02+) */
  image-rendering: pixelated; /* Awesome future-browsers */
  -ms-interpolation-mode: nearest-neighbor; /* IE */
}
