html {
  box-sizing: border-box;
  width: 100%;
  height: 100%
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

body {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0 auto;
  padding: 0;
  min-width: $screen-sm;
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-family: "Quicksand", "Roboto", "Arial", sans-serif;
  color: var(--text);
  background-color: var(--bg-layer-low);
  text-transform: uppercase;
  transition: 0.4s ease-in-out;

  @media (min-width: $screen-tb + 1) and (max-width: $screen-dt) {
    font-size: 18px;
  }

  @media (min-width: $screen-dt + 1) {
    font-size: 16px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* region Global css variables */

:root {
  --bg-layer-low: #101117;
  --bg-layer-mid: #14151D;
  --bg-layer-up: #1A1C2C;
  --text: #F8F8F8;
  --accent: #4B92E3;
  --focus-color: #4B92E3;
  --slider-focus-color: rgba(75, 146, 227, 0.15);
  --secondary-color: #9DA0B2;
  --shadow-color: rgba(0, 0, 0, 0.07);
  --color-light: #F8F8F8;
  --dropzone-color: rgba(75, 146, 227, 0.15);

  --tab-height: 50px;
  --slider-thumb-size: 16px;
  --slider-thumb-position: -5px;

  --editor-gradient: linear-gradient(to bottom, var(--bg-layer-up) 0%, var(--bg-layer-up) 60%, var(--bg-layer-low) 100%)
}

html[data-theme='light'] {
  --bg-layer-low: #F8F8F8;
  --bg-layer-mid: #F5F5F5;
  --bg-layer-up: #EFEFEF;
  --text: #101117;
  --accent: #3A79C0; // 3A79C0 / DC134F
  --focus-color: #3A79C0;
  --slider-focus-color: rgba(58, 121, 192, 0.15);
  --secondary-color: #9DA0B2;
  --shadow-color: rgba(0, 0, 0, 0.07);
  --color-light: #F8F8F8;
  --dropzone-color: rgba(58, 121, 192, 0.15);
}

@media (min-width: $screen-tb + 1) and (max-width: $screen-dt) {
  :root {
    --tab-height: 70px;
    --slider-thumb-size: 24px;
    --slider-thumb-position: -10px;
  }
}

@media (min-width: $screen-dt + 1) {
  :root {
    --tab-height: 60px;
  }
}

/* endregion Global css variables */

.react-transform-component {
  width: 100% !important;
  height: 100% !important;
  overflow: initial !important;
}

.react-transform-element {
  width: 100% !important;
  height: 100% !important;
}
