/* Screen sizes */

$screen-sm: 320px;
$screen-tb: 767px;
$screen-dt: 1199px;

/* Colors */

:root {
  --bg-layer-low: #101117;
  --bg-layer-mid: #14151D;
  --bg-layer-up: #1A1C2C;
  --text: #F8F8F8;
  --accent: #4B92E3;
  --focus-color: #4B92E3;
  --slider-focus-color: rgba(75, 146, 227, 0.15);
  --secondary-color: #9DA0B2;
  --shadow-color: rgba(0, 0, 0, 0.07);
  --color-light: #F8F8F8;
  --dropzone-color: rgba(75, 146, 227, 0.15);
}

html[data-theme='light'] {
  --bg-layer-low: #F8F8F8;
  --bg-layer-mid: #F5F5F5;
  --bg-layer-up: #EFEFEF;
  --text: #101117;
  --accent: #3A79C0; // 3A79C0 / DC134F
  --focus-color: #3A79C0;
  --slider-focus-color: rgba(58, 121, 192, 0.15);
  --secondary-color: #9DA0B2;
  --shadow-color: rgba(0, 0, 0, 0.07);
  --color-light: #F8F8F8;
  --dropzone-color: rgba(58, 121, 192, 0.15);
}
